body{
	background-color:rgb(185, 216, 243);
}

button{
	width:4rem;
	height:4rem;
	margin-top:2%;
	font-size:1rem;
}



/*NAVBAR styles*/
#navbar{
	display:flex;
	justify-content:space-evenly;
	flex-direction:row;
	align-items:center;
	padding:1%;
	height:30px;
	border-radius:15px;
	background-color:rgb(151, 199, 241);
}
.navWrapper{
	width:25%;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}




/*CARD styles*/
#container{
	border:1px solid black;
	background-color:white;
	padding:2%;
	margin-left:22%;
	margin-top:2%;
	width:50%;
	height:650px;
	/*min-height: 650px;
	max-height: 650px;*/
	display:flex;
	flex-direction:column;
	align-items: center;
}
#question{
	min-height: 50px;
	max-height: 50px;
}
#optionsBox{
	display:flex;
	flex-direction:column;
	min-width:75%;
	min-height: 500px;
	max-height: 500px;
}
.optionItem{
	border:1px solid black;
	min-width: 75%;
	margin:3%;
	padding:3%;
}
.optionItem:hover{
	background-color:rgb(151, 199, 241);
}
.selectedOption {
	border:2px solid blue;
	min-width: 75%;
	margin:3%;
	padding:3%;
}



/*MEDIA Queries*/

/*widths*/
/*-------------  < 900px  -----------*/
@media screen and (max-width:900px){
	.navWrapper{
		width:50%;
	}
	h1,h2{
		font-size:1rem
	}
}
@media screen and (max-width: 900px){
	#container{
		justify-content:space-evenly;
		width:95%;
		margin:1%;
	}
}

@media screen and (max-width: 900px){
	#question{
		font-size:100%;
		
	}
}
/*-------------  < 400px  -----------*/
@media screen and (max-width: 400px){
	#container{
		justify-content:space-evenly;
		width:95%;
	
		
	}
}
@media screen and (max-width: 400px){
	#optionsBox{
		display:flex;
		flex-direction: column;
		justify-content: flex-start;
		min-height: 300px;
		max-height: 300px;
	}

}
@media screen and (max-width:300px){
	.navWrapper >*{
		margin:3%;
		font-size:small;
	}
	h1,h2{
		font-size:xx-small;
	}
	#container{
		height:100vh;
	}

}


/*Height*/
/*-------------  < 700px  -----------*/
@media screen and (max-height: 700px){
	#container{
		min-height:500px;
		max-height:500px;
		padding:4%;
		justify-content:space-evenly;
	}
}
@media screen and (max-height: 700px){
	#optionsBox{
		min-height:400px;
		max-height:400px;

	}
}
